
body {
  background-color: rgb(121, 60, 115);
}

.josh2 {
   height :190px;
  width :auto ;
  padding : 10px;
  border-radius : 30%;
   float : left;
   margin-top: 50px;
   position: fixed;
}

.header{
height :100px;
width : auto;
display : flex ;
box-shadow:10px 10px 10px rgb(93, 10, 80) ;
background-color: rgb(54, 2, 53);

}
.logo {
  border-radius: 60px; 
  padding : 10px;
}
.meme {
  font-size: 24px;
  white-space: nowrap; /* PREVENTS text from breaking into multiple lines */
 color : white;
 padding : 10px;
}

.bdy{
  color :white ;
  margin-left: auto ;
  padding: 15px;

}

.meme-inputs {
  width :auto;
  height : 40px ;
  display : flex;
  margin-top :10%;
  margin-left : 33%;
  gap: 50px;

}
.input1{
  font : 20px Arial, sans-serif;
  border-radius: 10px;
}
.input2 {
  font : 20px Arial, sans-serif;
  border-radius: 10px;
   
}

.meme-button {
  margin-left: 44%;
  display: block;
  margin-top : 10%;
  width : 15%;
  height : 50px;
  background-color: purple;
  color : white;
}

.meme-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  float: right;
  position: relative;   /* 👈 this gives meaning to `top` */
  top: -200px;            /* use px not %, it's more reliable for small shifts */
}


